@model MyShop.Models.Goods
<h2> Додати товар </h2>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="create" asp-controller="goods">

    <p>
        <label asp-for="title">Назва</label><br />
        <input type="text" asp-for="title" />
    </p>
    <p>
         <label asp-for="description">Опис</label><br />
         <input type="text" asp-for="description" />
    </p>
    <p>
        <label asp-for="category">Категорія</label><br />
        <input type="text" asp-for="category" />
    </p>
    <p>
        <label asp-for="producer">Виробник</label><br />
        <input type="text" asp-for="producer" />
    </p>
    <p>
        <input type="submit" value="Зберегти" />
    </p>
</form>

<form asp-action="index" asp-controller="goods">
    <input type="submit" value="Назад" />
</form>