@model MyShop.Models.Product
@* 
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} *@

<h2> Додати товар </h2>

<form asp-action="create" asp-controller="product">

    <p>
        <label asp-for="title">Назва</label><br />
        <input type="text" asp-for="title" />
    </p>
    <p>
         <label asp-for="description">Опис</label><br />
         <input type="text" asp-for="description" />
    </p>
    <p>
        <label asp-for="category">Категорія</label><br />
        <input type="text" asp-for="category" />
    </p>
    <p>
        <div>
            <label asp-for="ProducerId">Виробник</label><br />
            <select asp-for="ProducerId" asp-items="ViewBag.Producers">
                <option value="">Оберіть виробника</option>
            </select>
        </div>      
    </p>
    <p>
        <input type="submit" value="Зберегти" />
    </p>
</form>

<form asp-action="index" asp-controller="product">
    <input type="submit" value="Назад" />
</form>