@using MyShop.Models

@* <form asp-controller="Clients" asp-action="Delete" asp-route-id="@client.id">
    <input type="submit" value="Видалити"></input>
</form> *@


<form asp-action="index" asp-controller="clients">
    <input type="submit" value="Назад" />
</form>